/* Login.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00b09b, #96c93d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .login-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-container button {
    padding: 10px;
    border: none;
    background-color: #00b09b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .login-container button:hover {
    background-color: #007b6a;
  }
  
  .login-container a {
    text-align: center;
    display: block;
    margin-top: 20px;
    color: #00b09b;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  




  /* Register.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff6f61, #de6262);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .register-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .register-container button {
    padding: 10px;
    border: none;
    background-color: #ff6f61;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .register-container button:hover {
    background-color: #e55650;
  }
  